


  .builder{
    height: 330px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #b8860b;
    padding: 2%;
  }
  .row{
    height: 25%;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 10%;

  }

  /* label{
    margin: 1%;
    font-size: 24px;
    display: block;
  } */

  .less{
    margin: 0.5%;
    width: 80px;
    height: 35px;
    color: white;
    background-color: #daa520;
  }

  .more{
    margin: 0.5%;
    width: 80px;
    height: 35px;
    color: white;
    background-color: #a52a2a;
  }
